*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* page */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* content */

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  align-items: end;
  justify-content: space-between;
  inline-size: 1140px;
}

.content__details {
  max-height: 534px;
  overflow-y: auto;
  font-family: Oswald;
}

.content__details
.content__list-container {
 padding-top: 236px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 711px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.result__video-container {
  max-width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  max-width: 185px;
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: .9;
  -webkit-line-clamp: 4;
  -ms-flex-line-pack: 4;
  line-clamp: 4;
  }

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

.content__accent {
  color: #545050;
}

.title {
  position: fixed;
  width: 100%;
  background-color: #1b1919;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}